<a href="https://colab.research.google.com/github/ankur2392roy/Online-fraud/blob/main/Online_fraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import numpy as np
import pandas as pd
import seaborn as sns

In [17]:
df=pd.read_csv('onlinefraud.csv',index_col=False)
df.head(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.0,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.00,0,0
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.00,0,0
6,1,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,0.00,0,0
7,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,0.00,0,0
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.0,0.00,0,0
9,1,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,40348.79,0,0

In [48]:
#Filter out transaction types by fraud or not fraud
df_fraud=df[df['isFraud']==1.0]
df_notfraud=df[df['isFraud']==0.0]
print(df[df['isFraud']==1.0].shape[0])

8213

In [53]:
payment_type=df['type'].unique()
x=df[(df['type']=='TRANSFER') & (df['isFraud']==0.0)]
y=df[(df['type']=='TRANSFER') & (df['isFraud']==1.0)]
print(y.count()[0])
array=np.array([x.shape[0],y.shape[0]])

4097